<table class="table">
  <tbody>
    <tr>
      <td colspan=2>
        <h3>Now Playing</h3>
      </td>
    </tr>
    <% if @now_playing %>  
      <tr id="now_playing_id" data-id="<%= now_playing.id %>">
        <td>
          <% image_tag now_playing.image_url, size: "200" %>
        </td>
        <td width="100%" style="padding: 20px 10px 10px; text-align: left;">
          <h4><%= now_playing.name %></h4>
          <h4><%= now_playing.artist %></h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>